[2020-03-05 22:32] sayanchowdhury opened #1 "Decide the dates for start and close of CFP"

[2020-03-05 22:33] sayanchowdhury opened #2 "Minimal website deployment with dates and venue"

[2020-03-05 22:34] sayanchowdhury opened #3 "Create a new conference "PyCon India 2020" in Junction"

[2020-03-05 22:34] sayanchowdhury opened #4 "Send email to mailing list for suggestion of keynote speakers"

[2020-03-05 22:35] sayanchowdhury opened #5 "Find speakers and keynote speakers"

[2020-03-05 22:37] sayanchowdhury commented on #3
Blocker: #2

[2020-03-05 22:39] sayanchowdhury commented on #5
cc: @anistark @ananyo2012 @chocos10

[2020-03-06 05:38] sayanchowdhury opened #6 "Create team to manage Junction and Infra team"
Once created, comment on this ticket the members of the group.

[2020-03-06 05:39] sayanchowdhury opened #7 "Clarify the role of Magudi with Vignesh"
Get status of Magudi, and given Vignesh has move out of the country. It would be great we have a second set of eyes looking into the infra problems.

[2020-03-06 05:42] sayanchowdhury opened #8 "Migrate the credentials for the relevant infrastructure"
List down the infrastructure where we need to get access:
- [x] PyCon India Server access
- [x] Domain/Server Account Details

[2020-03-06 05:51] sayanchowdhury opened #9 "Create a ACL list to know who has access to what"

[2020-03-06 05:53] sayanchowdhury opened #10 "Write the announcement blog for PyCon India 2020"

[2020-03-06 05:57] sayanchowdhury opened #11 "Start the conversation with AFROST"

[2020-03-06 05:58] sayanchowdhury opened #12 "Create a form and/or document mentioning the required items for creating invoices"

[2020-03-06 05:59] sayanchowdhury opened #13 "Check with AFROST about invoicing and GST handling."

[2020-03-06 06:00] sayanchowdhury opened #14 "Get copies of previous year templates of billing invoice"

[2020-03-06 06:02] anistark commented on #12
Need to talk with AFROST before this.
The invoicing heavily depends on them. Depending on #13

[2020-03-06 06:04] sayanchowdhury opened #15 "Finalize the contract with the venue"

[2020-03-06 06:05] sayanchowdhury opened #16 "Create a venue plan for the sponsorship prospectus"

[2020-03-06 06:05] sayanchowdhury opened #17 "Create a plan for the booth location in the venue plan"

[2020-03-06 06:06] sayanchowdhury opened #18 "Create Exhibitor Guide (check last year's)"

[2020-03-07 21:13] rayandas opened #19 "Update the social media handles with details. (Twitter, LinkedIn, Facebook)"

[2020-03-07 21:14] palnabarun opened #20 "Document and consolidate certificates on the server"
- [x] Make a single point for certificate storage on the server
- [x] Write a cronjob to schedule certificate renewal

[2020-03-07 21:16] rayandas opened #21 "Design a basic template which we will use while posting announcements."

[2020-03-07 22:19] rayandas opened #22 "Have to announce from Twitter, LinkedIn and Facebook"

[2020-03-07 22:38] ananyo2012 commented on #2
Website live at https://in.pycon.org/2020/

[2020-03-07 22:38] #2 closed

[2020-03-08 05:40] iambibhas commented on #2
Can we show the "Submit a proposal" button once the cfp is open? Right now it's the primary action button on the site but doesn't do anything.

[2020-03-08 05:41] iambibhas commented on #17
Do we have a venue blueprint?

[2020-03-08 05:46] iambibhas commented on #5
Given the current scare that is going on, that's restricting people from traveling, it's going to be difficult to approach any international speaker about traveling in next 2-3 months, even if the event is in October, because nearly no one knows when this will get over. I'm hoping that things will get better by October, but we really dont know. Keeping that in mind, maybe think about having sessio

[2020-03-08 07:08] ananyo2012 commented on #2
@iambibhas Ok I will make it disabled for now

[2020-03-08 07:55] ananyo2012 commented on #2
Updated

[2020-03-08 15:18] ananyo2012 commented on #5
Do we want to include the alternative in the very first email, or suggest
it in their reply ?

On Sun, Mar 8, 2020 at 11:16 AM Bibhas <notifications@github.com> wrote:

[2020-03-08 17:36] iambibhas commented on #5
I'd say it's an option only if they don't want to travel. So depends on their preference. Let's gather suggestions, approach them, and then see how it goes. I just wanted to mention it as an idea. Discuss it in the mailing list as well maybe.

[2020-03-08 18:48] palnabarun commented on #9
Access List is stored here at the moment.

https://www.notion.so/pyconindia/3297b8a06a6f4152b9d00c8e2895422e?v=3ab15aefb69b4e5b82870d74f392d181

[2020-03-09 08:50] ananyo2012 commented on #4
[code]

[2020-03-09 08:59] abhishekmishragithub commented on #4
LGTM, just limit lines with 30 or 35 words so that it will be easy to read in mail.

[2020-03-09 09:21] Pradhvan commented on #22
This is the draft for the initial announcement, we will be creating a thread for twitter and for rest of the platforms, it will be posted as a single post.

[code]

[2020-03-09 09:45] palnabarun commented on #4
I tried running the above mail through Grammarly. It suggested a LOT of changes.

@ananyo2012 Do you want to sync up on a call regarding this?

[2020-03-09 09:50] palnabarun commented on #4
This is the proof-read content.
[code]

[2020-03-09 09:52] palnabarun commented on #22
s/Banglore/Bangalore

[2020-03-09 10:08] Pradhvan commented on #19
@rayandas let's close this issue now. 😄

[2020-03-09 10:32] ananyo2012 commented on #4
Thanks @palnabarun for the grammar checks !

[2020-03-09 10:35] Pradhvan commented on #22
Twitter post link: https://twitter.com/pyconindia/status/1236960088390127616

LinkedIn post link: https://www.linkedin.com/feed/update/urn:li:activity:6642728428372103168

Facebook post link:
https://www.facebook.com/133849919970392/posts/3065938010094887/

[2020-03-09 10:38] inovizz commented on #22
I think Facebook and Twitter DP needs to be of better quality. The current one is little pixelated.

Also, please update the image in zulipchat workspace. The thumbnail on zulipchat link shows image of previous year.

[2020-03-09 10:40] sayanchowdhury commented on #4
Thanks a lot @ananyo2012. @abhishekmishragithub @ananyo2012 Send the email as plaintext and it will be automatically wrapped

[2020-03-09 10:58] ananyo2012 commented on #4
@sayanchowdhury Should we mention the COVID-19 alternative webinar measure we thought in this email ?

[2020-03-09 11:00] ananyo2012 commented on #22
Here is a high resolution image of the logo
![logo_lg_cropped](https://user-images.githubusercontent.com/10486343/76207137-3d4c2800-6223-11ea-87ef-3fd6d93cfe8a.png)

[2020-03-09 11:00] sayanchowdhury commented on #4
I don't think so. That is something we can mention while communicating with the speakers.

[2020-03-09 11:00] ananyo2012 commented on #22
@inovizz Updated the details in Zulip

[2020-03-09 11:06] ananyo2012 commented on #4
Ok. Going ahead with the post

[2020-03-09 11:06] rayandas commented on #22
@inovizz Updated the high resolution image.

[2020-03-09 11:20] chocos10 commented on #5
Even I think we should keep remote sessions in mails from starting and approach speakers with this alternative.

[2020-03-09 12:04] ananyo2012 commented on #5
I think it will be good to mention this in follow up email, since it will
be hard to finalize on their availability if we give this alternative from
starting.

On Mon, Mar 9, 2020 at 4:50 PM neha <notifications@github.com> wrote:

[2020-03-09 20:04] #19 closed

[2020-03-09 20:40] rayandas commented on #22
Closing the issue.

[2020-03-09 20:40] #22 closed

[2020-03-10 05:41] raukadah commented on #11
First email in order to start the conversation is sent.

[2020-03-10 06:51] anistark commented on #1
Dates as decided on call:

|  Date | Action  |
| --- | --- |
| March 12th | CFP open |
| July 1st | CFP closes |
| August 15th | Schedule release |

[2020-03-10 06:52] anistark commented on #4
This is done now.

[2020-03-10 06:52] #4 closed

[2020-03-10 09:36] pradyunsg commented on #6
Flagging that it might be handy to list this team in the README.

[2020-03-10 10:05] palnabarun commented on #6
This team is ephemeral and many people might not continue beyond PyCon India 2020. We can always use the reference to the GitHub Team.

[2020-03-10 16:51] Pradhvan opened #23 "Share keynote suggestion email from all social media channels."
**Draft to be sent on Twitter:**

PyCon India is a community first conference we want you to suggest who from the diverse Python community you would like to see as this year's keynote. We would do our best to make it possible.

To pass on your suggestion please reply to the email: https://mail.python.org/pipermail/inpycon/2020-March/013023.html

**Draft to be sent on Facebook and LinkedIn:**

One

[2020-03-10 17:22] championshuttler commented on #23
To pass on your suggestion ~just~ please reply to the email: https://mail.python.org/pipermail/inpycon/2020-March/013023.html

[2020-03-10 17:32] rayandas commented on #23
Also attache the link for bottom post. On second thread.

[2020-03-10 17:36] Pradhvan commented on #23
@rayandas bottom post ?

[2020-03-10 17:39] rayandas commented on #23
@Pradhvan  mailing list etiquette. http://www.shakthimaan.com/downloads/glv/presentations/mailing-list-etiquette.pdf
Don't know if we should post it too or not.

[2020-03-10 17:45] Pradhvan commented on #23
Email explicitly mentions not to do top-posting. So I guess it would be fine.

[2020-03-10 18:49] ananyo2012 opened #24 "Create a Volunteer Dependency Graph and link it to volunteer form"
Many people are not aware of roles/responsibilities of different teams. A dependency Graph with Roles/Responsibilities of each team will make it clear.

[2020-03-10 18:49] ananyo2012 commented on #24
First draft. Image attached below
![Volunteer-Dependency-Graph](https://user-images.githubusercontent.com/10486343/76348318-00208c80-632e-11ea-89e3-1f8886da8b69.png)

[2020-03-10 19:19] ananyo2012 commented on #13
@sayanchowdhury This is w.r.t vendor payments right ?

[2020-03-10 19:23] ananyo2012 commented on #13
@raukadah Got unassigned strangely and I can't assign him again

[2020-03-10 19:25] ananyo2012 commented on #8
Whoa why is everyone getting unassigned

[2020-03-10 19:27] ananyo2012 commented on #8
Closing this as we now have relevant information regarding Server Access

[2020-03-10 19:27] #8 closed

[2020-03-10 19:28] ananyo2012 commented on #7
@palnabarun Shall we schedule a call on Thursday evening on this if Vignesh is available ?

[2020-03-11 05:25] sayanchowdhury commented on #23
This is already there in the footer of the mailing list.

[2020-03-11 05:27] Pradhvan commented on #23
Link to twitter post: https://twitter.com/pyconindia/status/1237610786303791104

Link to LinkedIn post: https://www.linkedin.com/feed/update/urn:li:activity:6643376920778117120

Link to Facebook post: https://m.facebook.com/story.php?story_fbid=3070684499620238&id=133849919970392

[2020-03-11 06:31] ananyo2012 commented on #24
@sayanchowdhury I haven't added the Diversity team yet which is mentioned in the volunteer form. Managing PyLadies Conference and CoC will be primary responsibilities right ?

[2020-03-11 06:48] bravegnu commented on #24
* Encouraging women to participate, especially wrt to talk submission.
     - Blog articles
     - Social media promotion
  * Manning the PyLadies booth, if any.
  * Arrange PyLadies Lunch.
  * Arrange Child Care.

You can check with @sharmi who lead the effort last year.

[2020-03-11 07:39] palnabarun commented on #7
@ananyo2012 Sure.

[2020-03-11 08:45] #23 closed

[2020-03-11 20:05] tnmurthy opened #25 "Sponsorship Prospectus"
Need to work on Sponsorship Prospectus, tentative contents:

- [x] Attendee Demographics
- [x] Event Details
- [x] Sponsorship Packages
- [x] Sponsorship Enhancements
- [ ] Letter of Intent
- [ ] Sponsorship Agreement Form
- [ ] Event Terms

**Update 16/08 07:13IST:** [ @sayanchowdhury ] I have updated the original issue comment to include checkboxes

[2020-03-12 04:29] ananyo2012 commented on #24
Thanks @bravegnu I have updated few of the points in the image. We are yet to decide on the PyLadies Lunch which Anwesha will be leading efforts. Here is the updated image

![Volunteer-Dependency-Graph](https://user-images.githubusercontent.com/10486343/76487333-1e7aab00-6448-11ea-86fd-821e7ddbda5b.png)

[2020-03-12 04:33] ananyo2012 commented on #24
@sayanchowdhury I am adding this image in volunteer form description.

[2020-03-12 12:01] noblebatman commented on #21
Is anyone working on designing this one!?

[2020-03-12 12:02] iamaravindsekar commented on #21
@rayandas is anyone working on this one!? If not please let me know. Will get it done!

[2020-03-12 16:22] rayandas commented on #21
@noblebatman hey, sure go ahead. no one is working on this.

[2020-03-12 16:48] Pradhvan opened #26 "Update social media channels about the delay in CFP"
**Draft to posted:**

Due to the COVID-19 pandemic, we have decided to delay the Call For Papers (CFP) that was supposed to go live today. The conference is scheduled in October as of now and an update regarding CFP will be posted by next week.

[2020-03-12 16:55] sayanchowdhury commented on #26
Looks good to me.

[2020-03-12 16:56] anistark commented on #26
LGTM

[2020-03-12 17:02] Pradhvan commented on #26
Link to tweet: https://twitter.com/pyconindia/status/1238148263745687552

[2020-03-12 17:02] #26 closed

[2020-03-13 16:13] iamaravindsekar commented on #21
Great... Thank you ✌🏼

[2020-03-13 17:23] iamaravindsekar commented on #21
Before starting up with this, we have to discuss regarding the theme and design system we will be using this year. Once this is done we will be good to go ✌🏼

[2020-03-13 17:56] ananyo2012 commented on #21
The Design team is working on the Theme and logo. I will update once that
is done.

On Fri, 13 Mar, 2020, 10:53 PM Aravind Sekar, <notifications@github.com>
wrote:

[2020-03-18 09:27] ananyo2012 opened #27 "Update email aliases via magudi"
- [ ] Check where the mail server is deployed and get access
- [ ] Update magudi pillar with the email ids of members of PyCon India 2020 team

[2020-04-24 13:11] palnabarun opened #28 "Immediate Tasks"
For now,
1. Ordered sections
2. Copyright footer update

[2020-04-24 13:39] rayandas opened #29 "CFP announcement."
PyCon India 2020 Call for Proposals is now open! Head to https://in.pycon.org/cfp/2020/proposals/ for more details.

CFP closes on 14th August, 2020

Happy Proposal Writing!

[2020-04-24 13:41] rayandas commented on #29
@sayanchowdhury @palnabarun @ananyo2012 review this please.

[2020-04-24 15:06] rayandas opened #30 "PyCon India going online this year."
In [1]: from pycon import India as PyConIndia
In [2]: PyConIndia.year
Out [2]: 2020
In [3]: PyConIndia.location
Out [3]: 'Virtual/Online'

Yes! You saw it right. This year edition of PyCon India is going Online. Follow us for more updates. Until next announcement, stay safe!

[2020-04-24 15:12] rayandas commented on #1
Updated dates:

CFP open: Apr 24
CFP closes: Aug 14
Schedule release: Sept 1

[2020-04-25 09:40] rayandas commented on #30
Closing it.

[2020-04-25 09:40] #30 closed

[2020-04-25 09:40] rayandas commented on #29
closing it.

[2020-04-25 09:40] #29 closed

[2020-05-06 13:25] #15 closed

[2020-05-06 13:25] #16 closed

[2020-05-06 13:25] #17 closed

[2020-05-06 13:25] #18 closed

[2020-05-06 13:26] sayanchowdhury commented on #1
We've the CFP opened and can close this issue now.

[2020-05-06 13:26] #1 closed

[2020-05-06 13:28] sayanchowdhury commented on #3
We've published the CFP, so we can close the issue now.

[2020-05-06 13:28] #3 closed

[2020-05-06 13:32] sayanchowdhury opened #31 "Gather a list of people to be in the review panel"
Get a list of suggestion from the team who would be in the review panel. This also overlaps with the work of the mentorship panel as we can reach out to the review panel for mentorship

[2020-05-06 13:37] sayanchowdhury opened #32 "Create a charter of Review Panel/ Mentorship Panel"
- [ ] Send an email to suggested review panelist
- [ ] Create a charter of people from each domain representing in the review panelist

[2020-05-06 14:36] SaptakS opened #33 "Create logo and color scheme"
Currently, we already have created different versions of logos with different color schemes.

We need to confirm the logo based on mailing list votes and the upcoming web design along with WCAG compliance.

Following are the options for logo:
https://drive.google.com/drive/folders/1A0Pw0x2SNW5oS5Nl0FFVerjA4j7gVsrL

The different color schemes are:

![image](https://user-images.githubusercontent.co

[2020-05-06 14:45] SaptakS opened #34 "Make website component designs"
Based on the different logo options receiving maximum votes, we will start making design components for the website:

- [x] Heading banner section with navigation (In progress)
- [x] About section - Describing decision to go online (in progress)
- [x] Speakers section (in progress)
- [ ] Schedule section
- [x] Blog index page (in progress)
- [x] Single blog post
- [x] Ticket and registration secti

[2020-05-06 15:01] SaptakS commented on #21
@rayandas @noblebatman @ananyo2012 we also need to decide on how we share the layout.
- canva (which would probably not need much expertise from social media team to use design tools)?
- Figma (which would need some expertise to use design tools, but nothing extra to download)
- Any specific tool?

@ananyo2012 @noblebatman any pointers on how it was done last year?

[2020-05-06 15:20] ananyo2012 commented on #21
I would recommend canva as it is easy to collaborate and no software
installation needed.

On Wed, May 6, 2020 at 8:31 PM Saptak Sengupta <notifications@github.com>
wrote:

[2020-05-06 15:29] iamaravindsekar commented on #21
I haven't used canva.. Regarding Figma, It has lots of features and also... it supports various file formats... Say I am using XD or Illustrator, I can directly copy an artboard to that or I can open the SVGs or Illustrator files on it... What I would suggest is we should consider an application that is flexible, user friendly and lightweight... Again.... if we are going to deal only with vectors,

[2020-05-13 14:38] SaptakS commented on #34
The following were the design ideas proposed:
Design 1:
![Guru-Design](https://user-images.githubusercontent.com/9530293/81825362-30fe8700-9554-11ea-898c-4b3f23188ab1.png)

Design 2:
![Sid-Design](https://user-images.githubusercontent.com/9530293/81826131-14af1a00-9555-11ea-9c30-5d31f77cdba7.png)

We are planning to stick with Design 1. Reasons:

1. Design 2 looks a little empty
2. The logo doesn'

[2020-05-13 14:46] SaptakS commented on #33
Based on the design decision in https://github.com/pythonindia/inpycon2020-tasks/issues/34#issuecomment-628034657 , I think we are going ahead with Logo 1.

[2020-05-13 14:52] #33 closed

[2020-05-13 14:59] palnabarun commented on #27
All email aliases have been updated.

[2020-05-13 14:59] #27 closed

[2020-05-13 15:01] palnabarun commented on #6
Thte requisite GH teams had been created long back.

[2020-05-13 15:01] #6 closed

[2020-05-13 15:03] palnabarun commented on #7
There was no response from Vignesh despite emails.

Figured out the workflow and simplified it by myself.

[2020-05-13 15:03] #7 closed

[2020-05-13 15:05] palnabarun commented on #9
Initial access sheet had been created.

The ACL will be reiterated as planning progresses.

[2020-05-13 15:05] #9 closed

[2020-05-13 15:05] palnabarun opened #35 "Get in.pycon.org off Google Spam lists"

[2020-05-13 15:08] palnabarun opened #36 "Clear out Junction + Magudi mess"
While updating Junction using Magudi, the salt call errors out at several places.

**Note:** In 2019, Junction wasn't updated using Magudi it seems. The commit hash on the server is way ahead of what is in Pillar salts.

[2020-05-13 15:11] palnabarun commented on #28
Closing this since granular issues have been created elsewhere.

[2020-05-13 15:11] #28 closed

[2020-05-13 16:18] palnabarun opened #37 "E2E Networks dashboard access"
Taking backups of the `in.pycon.org` VM would require access to the dashboard of E2E networks account owning the VM

[2020-05-13 22:05] vipulgupta2048 opened #38 "Design PyCon India blog"
As discussed on the call opening an issue for the discussion and creation of the blog design in sync with the website design.

[2020-05-17 12:52] sayanchowdhury commented on #32
As of 15th May 2020, I've got ack'ed from 2 people who would be on the Review panel.

[2020-05-17 13:05] sayanchowdhury commented on #37
We tried contacting everyone we know the community to know who has the details E2E networks but no one knows. I will drop the email today to the mailing asking who has access to the servers.

On the other hand, we also contacted the E2E Networks team, but we have not got any positive response from them. I will drop another reminder email to reply to the ticket today.

[2020-05-17 13:55] palnabarun opened #39 "Divide organizing team amongst CFP topics"
They will be gatekeepers for all CFP reviews and monitor the CFP review process.

This would help in removing discrepancies and prevent further scrutiny.

- Decentralised and Distributed Technology (Blockchain, Tangle or any DLT protocol or infrastructure related product)
- Desktop Applications (Qt, GTK+, Tkinter, Gnome, KDE, Accessibility)
- Scientific Computing (Python usage in scientific comput

[2020-05-17 15:24] ananyo2012 commented on #37
Did you try contacting Amit Singh Sethi ? He used to work at E2E. You can
mail him and see if he still works there.

On Sun, May 17, 2020 at 6:35 PM Sayan Chowdhury <notifications@github.com>
wrote:

[2020-05-17 16:50] iamaravindsekar commented on #21
@rayandas how do we classify these templates that we have to design for social media like speakers, promotion, sponsors,etc... Need more clarity on this...!!

[2020-05-18 16:04] Pradhvan commented on #21
@noblebatman hey! Let me share a few of the templates that the team used last year so that it would help in clearing the confusion.

Below I have attached two tweets that show the template, as you can see base template remained the same for both sponsor announcements and community announcements.

[Community announcement poster-1](https://twitter.com/pyconindia/status/1171997502721146880)
[Sponsor

[2020-05-19 18:37] raukadah opened #40 "Fetch out the previous year's PyCon India 2020 speakers"
In order to get good list of tasks, We need to reach out to people for that. Pulling the email of previous years speakers and emailing them will help us to get better speakers.

[2020-05-20 08:44] iamaravindsekar commented on #21
Yes yes understood... Thank you @Pradhvan 😊

[2020-05-20 14:26] iamaravindsekar commented on #21
@Pradhvan @rayandas @ananyo2012 Done with some templates, Kindly let me know if there is anything else :)
This is the Figma url to the templates,
https://www.figma.com/file/l3fowoKJ1OAyXRd7j095r5/PyconIND-Assets?node-id=12%3A763

[2020-05-20 15:08] sayanchowdhury commented on #21
Great work @noblebatman

A couple of feedback from my side:
- Social media icons are not useful in templates.
- I personally like second and fourth.
- Can we have the background of 4th in 1st? Maybe scaling down a few things to make adjustment for placeholder.

[2020-05-20 18:42] noblebatman commented on #21
Thank you @sayanchowdhury,
btw, Is this what you were telling about the first template!?

![image](https://user-images.githubusercontent.com/20441340/82484466-98d64400-9af7-11ea-8112-236e68d6739f.png)

[2020-05-20 18:45] iamaravindsekar commented on #21
Thank you @sayanchowdhury ,
Btw.. Is this what you were asking to do with the first template in your third feedback?

![image](https://user-images.githubusercontent.com/20441340/82484827-1e59f400-9af8-11ea-8240-57cf2cd4aa10.png)

[2020-05-21 17:53] palnabarun commented on #40
Tasks
---
- [x] Fetch the previous year speakers email ID
- [x] Provide the data to Anirudha and Chandan
- [x] Anirudha and Chandan to email them

[2020-05-23 09:13] sayanchowdhury commented on #21
I mean to use this background
![image](https://user-images.githubusercontent.com/500628/82726741-b37d0880-9d03-11ea-8f1e-c59e9162036e.png)

in this image
![image](https://user-images.githubusercontent.com/500628/82726745-c394e800-9d03-11ea-9a64-da6d3af42a18.png)

[2020-05-23 09:53] ananyo2012 commented on #21
@sayanchowdhury First one is a general announcement template with longer content while fourth is a speaker template with short content. Maybe you can mention which elements you like to have ?

[2020-05-23 10:01] ananyo2012 commented on #21
My comments
- Agree on removing the social media logos
- 1st, 2nd and 4th look good
- Adding to Sayan's comment, You can try using the logo as is on top and use the lanterns in the right with the 4th background

![logo](https://user-images.githubusercontent.com/10486343/82727819-6ea8a000-9d0a-11ea-86af-b61cc4cbcae5.PNG)

[2020-05-23 16:40] ananyo2012 opened #42 "[RFC] Website + Blog Migration to Netlify"
We want to move to Netlify for the static websites + blog and move away from the present PyCon India Server.
**Advantages**
- Lesser things to manage from the server
- More seamless deployment flow using CI/CD
- Remove confusion with deployment from magudi for website/blog which had more frequent changes than junction
- More visibility on deployment setup

**Disadvantages**
- Dependence on the dep

[2020-05-23 16:54] astronomersiva commented on #42
@ananyo2012, I hope you have factored in the cost of Netlify as well. The free plan only allows 300 build minutes per month.

[2020-05-23 17:33] ananyo2012 commented on #42
@astronomersiva Added it to the list of Disadvantages. We can calculate the costs involved and decide. There maybe ways to build in CI and push the dist to Netlify. Need to explore on that.

[2020-05-23 19:14] palnabarun commented on #42
We did not decide on moving it bdw, it's just an experiment.

We would still need to have rewrite rules on nginx.

I don't remember any discussion regarding "confusion with deployment"

Can you please elaborate a bit on the point?

This is unrelated and independent issue bdw.

[2020-05-24 05:09] ananyo2012 commented on #42
Thought to start the discussion related to that

Are you intending to deploy on Netlify and have redirect rules on server to point to the blog ?

I added this point to account for the present dependence of deployment of website over magudi. There is no CD happening and everytime it needs to be manually deployed.

As per my understanding moving to a new deployment platform meant CNAMing it to the d

[2020-05-25 01:54] anistark commented on #42
I don't think we need to write any rules on nginx. It's a static site. Can directly connect to netlify host via CNAME. Same goes for blog I believe.
For junction, we'd still need server though.

[2020-05-25 08:10] palnabarun commented on #42
How do you CNAME `https://in.pycon.org/blog` to `https://project-url.netlify.app`?

cc: @ananyo2012 @anistark

[2020-05-25 15:51] ananyo2012 commented on #42
@palnabarun You just need to build the project in a `blog` directory under the `output` folder. Then everything will be visible under `/blog` domain.

[2020-05-25 15:55] palnabarun commented on #42
@ananyo2012 Well, you are thinking only about the blog here and not other components. Think it through once considering everything that we deploy under that subdomain.

[2020-05-25 16:24] ananyo2012 commented on #42
Well we don't intend to move everything under the subdomains to Netlify.
Just the static components.

On Mon, 25 May, 2020, 9:25 PM Nabarun Pal, <notifications@github.com> wrote:

[2020-05-25 16:34] palnabarun commented on #42
Exactly! That's what I have been trying to say along.

How would you CNAME then?

[2020-05-25 17:45] ananyo2012 commented on #42
So my idea was to deploy the static components in Netlify that would be
Website and blog keep them under subfolder setup. Then CNAME the netlify
domain to the PyCon India domain.

Keep the CFP website in the server under `/cfp` url which is CNAMEd to
PyCon India domain as well.

Is this setup possible ?

On Mon, 25 May, 2020, 10:04 PM Nabarun Pal, <notifications@github.com>
wrote:

[2020-05-25 18:58] ananyo2012 commented on #42
I just searched regarding this and found we can't have multiple CNAMEs for
a domain. Ref:
https://serverfault.com/questions/574072/can-we-have-multiple-cnames-for-a-single-name

On Mon, 25 May, 2020, 11:14 PM Ananya Maiti, <ananyoevo@gmail.com> wrote:

[2020-05-25 19:01] palnabarun commented on #42
I would have Google'd it for you, otherwise. :)

[2020-05-25 20:06] ananyo2012 commented on #42
My next question is redirect to a different domain have any drawbacks ?

On Tue, 26 May, 2020, 12:31 AM Nabarun Pal, <notifications@github.com>
wrote:

[2020-05-27 16:34] sayanchowdhury commented on #32
We have an internal sheet through which we are tracking the people contacted and to-be contacted.

[2020-05-28 03:48] anistark opened #44 "Cross-post on all Community Mailing Lists"
We need to increase our proposals. One way is to post on other relevant streams, including other community mailing lists, slack/discord/telegram channels.
Please add any relevant community list that resonates with the same:

- [x] [BangPypers](https://mail.python.org/mailman/listinfo/bangpypers)
- [x] PythonPune
- [x] [HydPy](https://mail.python.org/mailman3/lists/hydpy.python.org/)
- [x] ChennaiP

[2020-05-28 12:25] vipulgupta2048 commented on #44
Updated PyDelhi mailing list.

[2020-05-29 13:36] pshirali commented on #44
@anistark . I'm on a Slack group called Python Developers (pythondev.slack.com). I can post there.

May I recommend that the organisers setup the following:

1. A standard core-message that could be posted across all media. This will help ensure that the core information (dates, info) is correct, and remains consistent. People could prefix and suffix this core message and make it theirs.
2. One or

[2020-05-29 19:17] ananyo2012 commented on #34
This is the finalized design

![website-mockup](https://user-images.githubusercontent.com/10486343/83296884-265c1700-a20f-11ea-98e7-cc6a79124719.PNG)

[2020-05-29 19:33] ananyo2012 opened #45 "Create Blog design"
Creating this to track the progress of blog design update work

- [x] Create blog design - In progress by @noblebatman
- [x] Update blog website template in https://github.com/pythonindia/inpycon-blog (Under review at https://github.com/pythonindia/inpycon-blog/pull/282)

[2020-05-30 14:40] palnabarun commented on #37
Updates
---
1. I had a call with Vignesh. He gave me the access to E2E networks dashboard.
2. He also mentioned that he has access to the `python.org.in` and `pythonexpress.org` and will share the details after we set up the credential storage.

[2020-05-30 14:41] #37 closed

[2020-05-30 21:02] anistark commented on #44
@pshirali Please do post. Can use as much help as we can get.

As for messaging:

[code]

[2020-05-30 21:18] pshirali commented on #44
@anistark Done. This is on `#conferences` of PySlackers (pythondev.slack.com). I'll keep a look out for more avenues. Thanks for sharing the text. :)

![pydev](https://user-images.githubusercontent.com/39181224/83339177-d05ba200-a2e8-11ea-8bfd-032c295d7711.png)

[2020-05-31 05:10] iamaravindsekar commented on #21
@ananyo2012 Made a separate copy of templates with your inputs,Please feel free to check them. Btw, having the decorated Python symbol with the Pycon india logo is fine, but If its separate, it ll be visually appealing... and the logo can be broken down or put together as we wish, having the event title alone on the top will make things look more balanced.

[2020-06-01 09:54] sayanchowdhury commented on #44
I updated the PSF-Community mailing list in the list.

We already have a wiki page listing all the Python meetup groups in the handbook, can update the wiki page along with slack channels, mailing list etc?

We also have this [list](https://wiki.python.org/moin/LocalUserGroups#India)

[2020-06-01 09:58] sayanchowdhury commented on #40
Did we send the email over the weekend?

[2020-06-08 15:14] ananyo2012 opened #46 "Collect all Keynote Speaker suggestions from Social Media"
TSIA

[2020-06-08 16:35] ananyo2012 commented on #46
Done: https://github.com/pythonindia/inpycon2020-tasks/wiki/Keynote-Speaker-Suggestions

[2020-06-08 16:36] ananyo2012 opened #47 "Select Keynote Speakers to send email"
Select Keynote Speakers from this list - https://github.com/pythonindia/inpycon2020-tasks/wiki/Keynote-Speaker-Suggestions

[2020-06-08 16:53] Pradhvan commented on #46
@ananyo2012 We should remove names that have been a keynote speaker in the past years. Of what I know we don't usually have a repeated keynote speaker. So we should remove names from the list that way we don't end up connecting to them again for the keynote.

[2020-06-08 17:34] inovizz commented on #46
I think Dave Beazley has keynoted PyCon India twice 😉

[2020-06-08 18:46] Pradhvan commented on #46
@inovizz sadly no, but I would want to hear him in the near future. 😄

[2020-06-08 18:56] inovizz commented on #46
Oops, my bad. It was always in my head that Dave Beazley keynoted 2011 version of PyCon India. However, I just checked it was Raymond Hettinger. I think I got confused between two legends 😉.

[2020-06-08 20:31] ananyo2012 commented on #46
Yes I just collected everything we got. Now we need to select the names we
want to send emails

On Tue, 9 Jun, 2020, 12:26 AM Sanchit Balchandani, <notifications@github.com>
wrote:

[2020-06-09 06:59] raukadah commented on #40
Emails are sent out to all the previous year speakers. Marking this as done

[2020-06-09 06:59] #40 closed

[2020-06-09 07:01] raukadah commented on #31
We have started receiving replies from previous years speakers for mentoring and reviewing. I will put up the list and draft a reply for them.

[2020-06-09 11:51] satyaakam commented on #47
I did see one mail in March asking for suggestions on mailing list  i think we should ask again

[2020-06-09 11:53] satyaakam commented on #46
Can you send the list or the link to the list to the mailing list as well

[2020-06-09 11:58] satyaakam opened #48 "Logo design which one we are going with ?"
i see two variants of logo one on the website and one on the twitter handle which one are we going with ?
![Screenshot 2020-06-09 at 5 26 58 PM](https://user-images.githubusercontent.com/822770/84144821-87d57e80-aa76-11ea-83fc-48f077745d85.png)
![Screenshot 2020-06-09 at 5 27 11 PM](https://user-images.githubusercontent.com/822770/84144838-8ad06f00-aa76-11ea-9d4e-54ee17c3f859.png)

[2020-06-09 12:04] satyaakam commented on #5
Duplicate of #46 and #47  we can close this one

[2020-06-09 15:09] SaptakS commented on #48
We are going with the yellow and red one. The website is being currently updated to follow the new logo, theme and designs. The code can be found in the dev branch of inpycon2020 repo. Expecting to deploy the new website end of this week.

[2020-06-10 00:05] satyaakam commented on #48
ok do we have some brand guidelines listed somewhere

[2020-06-10 05:26] SaptakS commented on #48
As far as I know, not yet. @sayanchowdhury correct me if I am wrong. We are going to maintain a [git repo](https://github.com/pythonindia/inpycon-assets) with all the branding images and assets.

[2020-06-13 06:40] #5 closed

[2020-06-13 06:41] #46 closed

[2020-06-13 23:32] satyaakam opened #49 "Zulip does not work"
Zulip sucks and has not worked in past as well for communications , put me onto all the Telegram or Whatsapp groups for communications with working groups

[2020-06-14 10:17] anistark commented on #49
@satyaakam What problems did you face with Zulip?

[2020-06-15 03:36] satyaakam commented on #49
i always get lost in the lost for simple things like how to reply because of interface , which Whatsapp and Telegram makes things easy and getting things done

[2020-06-15 04:37] #49 closed

[2020-06-16 06:48] KanakKvdi commented on #48
This new logo looks great though.

[2020-06-16 08:27] KanakKvdi commented on #47
Greetings! I want to contribute by adding a keynote speaker suggestion in the wiki, as well as email them. How can I proceed?

[2020-06-18 08:25] Pradhvan opened #52 "Insights on design decisions"
Can someone give me a brief about the design decision and what the logo/design depicts and why did we go ahead with that particular design?

This information would help me prepare better announcement content for social media channels.

I was looking into last year's tweet when the logo was announced: [tweet](https://twitter.com/pyconindia/status/1113649344240992256)

[2020-06-18 08:42] ananyo2012 commented on #52
The logo depicts the culture and traditions of India and our technology
transforming in a Digital Era. The theme suggests keeping our hopes up as
we travel from 'The Dark to The Light' in these difficult times.

On Thu, 18 Jun, 2020, 1:55 PM Pradhvan Bisht, <notifications@github.com>
wrote:

[2020-06-18 08:43] Pradhvan commented on #52
Thank you @ananyo2012 😄

[2020-06-19 18:10] vipulgupta2048 opened #50 "Need to update the mailing list information"
Checked out --> https://mail.python.org/mailman/listinfo/inpycon
Need to update the information here.

We are writing the volunteer blog for it as well. cc: @rithin-jose @Sc0rpi0n101

[2020-06-19 18:47] anistark opened #51 "Managing Lightning Talks"
Initial discussion:
- Take input during the conference days on a typeform/google form.
- To form a dedicated team focused towards handling submissions and coordinating with the speakers.

[2020-06-19 20:29] ananyo2012 opened #53 "Create editorial about Workshop"
We need to update the CFP editorial to include a section about Workshop and the format we are going to follow for the Workshops

[2020-06-19 20:30] ananyo2012 opened #54 "Create an announcment about Workshops"
We need to send an announcment to social media for Workshop proposal announcement

[2020-06-19 20:32] ananyo2012 commented on #54
Do this once #53 is done

[2020-06-20 06:18] anistark commented on #53
@vipulgupta2048 Can you put together a write-up for this?

[2020-06-22 06:42] Pradhvan commented on #54
@ananyo2012 this is for the CFP announcement of Workshops ?

[2020-06-22 12:58] Pradhvan commented on #54
We can use this poster? Waiting for @vipulgupta2048 to finish up the write-up than will do an announcement on all social media channels. 😄

![Announcement templete1(2)](https://user-images.githubusercontent.com/13925830/85290030-f3c3d800-b4b5-11ea-8baa-9c38fb842b32.png)

[2020-06-22 16:31] Pradhvan commented on #54
Post for announcement
[code]

[2020-06-22 21:43] vipulgupta2048 opened #55 "Add Video best practices on Editorial page"
I feel it would be immensely helpful if the best practices to create a video is available right on the editorial page -https://in.pycon.org/cfp/2020/proposals/ since most proposal submitters don't give much attention to the blogs. Rather just go on to submit, after reading the editorial page.

We can take the content from - https://in.pycon.org/blog/2020/2020-call-for-proposals-announcement.html
A

[2020-06-24 16:48] ananyo2012 commented on #53
@vipulgupta2048 Can you prioritize this task ?

[2020-06-24 19:39] vipulgupta2048 commented on #53
LOL. I wrote the post but didn't make the PR. Coming up in 10 minutes. I think I wanted to re-read what I wrote with a fresh mind.

[2020-06-25 19:19] vipulgupta2048 commented on #54
So actually the post has been changed into writing a great workshop proposal. So we might need to tweak the tweet a bit.

CFP for PyCon India workshops is now open 💯

Workshops at PyCon India have been awesome deep dives into complex concepts with a practical hands-on approach. Here's our team sharing insights about how you too can write a great workshop proposal.

How does that sound?

[2020-06-26 07:02] Pradhvan commented on #54
LGTM 😄

[2020-06-28 06:51] anistark commented on #44
We've posted and re-posted this. Closing the issue from here. Progress taken over by cfp volunteers.

[2020-06-28 06:51] #44 closed

[2020-06-28 06:52] anistark commented on #47
@KanakKvdi Add your suggestions here itself. Someone will add it to the list.

[2020-06-28 06:53] anistark commented on #53
@vipulgupta2048 Let's push this today ?

[2020-06-28 06:55] anistark commented on #48
We can close this now?
@satyaakam @SaptakS

[2020-06-28 06:57] anistark commented on #39
Can't seem to assign Ritesh here.
Will ping him on Zulip.

[2020-06-28 06:58] KanakKvdi commented on #47
Greetings of the day!

My suggestion:

*Dr. Chuck* from The University of Michigan

His Twitter: *@drchuck*

Please let me know how I can help further.

Best Regards*,*

Kanak Kavadi

On Sun, 28 Jun, 2020, 12:22 Kumar Anirudha, <notifications@github.com>
wrote:

[2020-06-28 07:01] #48 closed

[2020-06-28 07:01] satyaakam commented on #48
Yes Good to close this

[2020-06-28 07:11] vipulgupta2048 commented on #53
@anistark Pushed the changes requested during the call that day, waiting for @ananyo2012's review or if you can check it out.
https://github.com/pythonindia/inpycon-blog/pull/285

[2020-06-28 10:10] ananyo2012 commented on #53
I just commented on the PR for some changes. @anistark @vipulgupta2048 Please have a look.

[2020-06-28 10:11] ananyo2012 commented on #53
Also created the content for the CFP page at https://pad.riseup.net/p/inpycon-2020-workshop-editorial

[2020-06-28 12:50] Pradhvan commented on #54
Announcement is done, [tweet](https://twitter.com/pyconindia/status/1277211351820021761) . Thank you for the help @vipulgupta2048 @ananyo2012 @anistark 😀

[2020-06-28 12:50] #54 closed

[2020-06-30 09:38] Sc0rpi0n101 commented on #50
Other than updating the link for volunteers, Is there anything else that should be updated in the content?

[2020-07-03 17:04] palnabarun commented on #55
@vipulgupta2048 The page can be edited by the CFP owners. This doesn't involve code change.

Hence, transferring the issue to the tasks repository.

[2020-07-03 20:03] vipulgupta2048 commented on #55
Sounds good. It just needs a simple copy and paste to be honest.

[2020-07-04 19:59] sayanchowdhury commented on #39
Ritesh isn't on the team yet. I've sent the invitation. We can assign once he accepts

[2020-07-05 16:30] anistark opened #56 "Need content pieces for Outreach Partners"
Since last call, we can onboard outreach partners to help us spread the word about PyCon India 2020, we would a few content pieces as mentioned below to send out to them:

- [ ] **Official Invitation to be Outreach Partners**: This will include an overview about PyCon India, who we are, how we do things and so on. What's required of them and we would be offering them. Ideally, they would need to s

[2020-07-08 15:19] anistark commented on #56
@vipulgupta2048 Can we get an update on this? Is someone available to take this up?

[2020-07-08 16:25] vipulgupta2048 commented on #56
@anistark Let me post again if someone wants to take this up otherwise I and @sc0rpi0n101 can take care of this

[2020-07-08 16:54] ananyo2012 commented on #38
Tracked by #45

[2020-07-08 16:54] #38 closed

[2020-07-08 16:55] ananyo2012 commented on #21
This is good to be closed

[2020-07-08 16:55] #21 closed

[2020-07-08 16:57] ananyo2012 opened #57 "Create Website Ticket Section Design"

[2020-07-08 16:58] ananyo2012 opened #58 "Create Website Schedule Section Design"

[2020-07-09 08:04] Madhura12gj commented on #56
Hey Vipul, let me know where can I help in this.

[2020-07-10 08:44] vipulgupta2048 commented on #56
Thanks, @Madhura12gj for taking this up,
This time around we are looking for Outreach Partners or much simpler other communities who can help us get the word out regarding PyCon India as @anistark mentioned in the issue. At the moment, we need content for an invite that can be sent to communities to become an outreach partner for PyCon India 2020. We need to mention what all it would entail + we c

[2020-07-10 09:02] anistark commented on #56
Here's more info: https://github.com/pythonindia/inpycon2020-tasks/wiki/Outreach-Partners

[2020-07-16 18:32] ananyo2012 commented on #57
First version at https://www.figma.com/file/l3fowoKJ1OAyXRd7j095r5/PyconIND-Assets?node-id=439%3A1

[2020-07-16 18:33] RiteshAgrawal commented on #39
@sayanchowdhury In this, do you mean select people responsible for each of the topic?

[2020-07-17 16:14] ananyo2012 commented on #45
Closing this now. Blog design has been updated

[2020-07-17 16:14] #45 closed

[2020-07-17 19:22] Sc0rpi0n101 commented on #56
Looks like @Madhura12gj is a little busy atm
I'll work on this.

[2020-07-18 17:34] ananyo2012 commented on #58
Initial design created at https://www.figma.com/file/l3fowoKJ1OAyXRd7j095r5/PyconIND-Assets?node-id=475%3A3

[2020-07-21 18:56] sayanchowdhury commented on #39
This is primarily the review process, there would be someone from the organizing team, as in the core people, who would keep a close eye on the work of the volunteer and see the rules are followed properly

[2020-07-22 19:27] Pradhvan opened #60 "Sending CFP to PyCon India mailing list and cross posting it to other mailing lists."
Hi! I have prepared a draft that we can send to the mailing list by tomorrow.

[code]

[2020-07-22 19:29] Pradhvan commented on #60
Just tagging a few people to get more eyes on the content.  @vipulgupta2048 @sayanchowdhury @ananyo2012 @palnabarun  @anistark

If it's good to go @abhishekmishragithub can mail it and XPOST it to various other mailing lists.

[2020-07-22 22:25] anistark opened #61 "Need a blog post on mentorship."
Some Notes:

- If anybody is needs help to look at their cfp before submitting.
- Refer to good cfp writing practice.
- They can join zulip or via emails/calls ask us specific questions that they are stuck with.

[2020-07-23 08:27] abhishekmishragithub commented on #60
@Pradhvan LGTM :+1:
@sayanchowdhury please validate.

[2020-07-23 12:32] abhishekmishragithub commented on #60
The mail has been sent, hence closing the issue.

[2020-07-23 12:32] #60 closed

[2020-07-23 17:27] vipulgupta2048 commented on #61
Assigning @Anpr1211 for this blog post, please do ask your questions.

[2020-07-23 21:37] Anpr1211 commented on #61
Reiterating the questions by @vipulgupta2048 on Zulip:
1. How does one get help from mentors, do we have a process in place?
2. Calls? Do we provide calling to ask questions on things folks are stuck on?
3. Do we have some sample talk proposals that can be used as examples?

[2020-07-23 21:45] vipulgupta2048 commented on #61
@siddharthvipul @abhishekmishragithub can you folks help out @Anpr1211, thanks! We are lookin' to complete the first draft by the weekend, if you can share the documented process with Ankita, that would be great.

[2020-07-23 22:01] siddharthvipul commented on #61
If need any help with CFP, please join [pycon India zulip](https://pyconindia.zulipchat.com/#) and drop a message in [pre-cfp topic of mentorship stream](https://pyconindia.zulipchat.com/#narrow/stream/245487-wg.2Fmentorship/topic/pre-cfp). You should get a response from the team and you will be asked to share a doc with comment access to a mentor (in a private message) who will help you polish th

[2020-07-23 22:03] siddharthvipul commented on #61
@Anpr1211
Let me know if you have any questions
Thank you for doing it, appreciate it!

[2020-07-24 06:38] abhishekmishragithub commented on #61
@Anpr1211 you can take reference from this or directly mention this blog URL: https://in.pycon.org/blog/2020/2020-workshop-cfp-announcement.html

Thanks @Anpr1211, let us know if anything else is needed :)

[2020-07-24 17:32] raukadah opened #62 "Can we record the talk and play during conference instead of speaking live?"
Every conference is going virtual.
Virtual event have one common problem about live interaction with audience.
In current scenario, speaker comes live and delivers the talk. During the talk, Attendees use the chat system and add their comments and questions there.
Then at the end of talk, Organizers pull all the questions together and show it on the slides and
speakers answers the questions.
The p

[2020-07-25 11:21] vipulgupta2048 commented on #61
Thanks folks @siddharthvipul @abhishekmishragithub @anistark for all the information.
@Anpr1211 I think this will be enough for writing the blog post, do post any queries if you have.

[2020-07-27 11:47] Sc0rpi0n101 commented on #56
For reference,

The PR for the Outreach partners blog is https://github.com/pythonindia/inpycon-blog/pull/289
and for the Outreach partners email is https://github.com/pythonindia/pyconindia-handbook/pull/31

[2020-08-03 16:10] anistark commented on #62
Good idea 👍🏼  Would also have to check on which platform we're going to use to support running videos and do q/a side-by-side. Otherwise, might feel like homework to see the talk offline and then will be kinda like an AMA.

One of the workshop speakers have in-fact reached out saying that he has a recorded workshop and would like to play it. (Full content on this on wg/cfp on zulip.

[2020-08-03 16:44] siddharthvipul commented on #62
I like the idea.. we could also have the option to either present online or have pre-recorded.
If we try to do it while mentorship, would be easy to manage (since in this process we will be interacting with speakers 1:1)
The process could go like ->
* present your talk to a mentor and a volunteer
* take feedback, rectify those
* Record with feedbacks into consideration and share the recording.

Th

[2020-08-16 01:03] sayanchowdhury commented on #61
The blog post is pushed: https://in.pycon.org/blog/2020/announce-pycon-india-mentorship.htm

Closing the issue.

[2020-08-16 01:03] #61 closed

[2020-08-16 01:04] sayanchowdhury commented on #10
The blog is pushed: https://in.pycon.org/blog/2020/2020-call-for-proposals-announcement.html

Closing the issue.

[2020-08-16 01:04] #10 closed

[2020-08-16 01:05] sayanchowdhury commented on #11
This issue is also resolved. Marking as done. :heavy_check_mark:

[2020-08-16 01:05] #11 closed

[2020-08-16 01:05] sayanchowdhury commented on #20
What is the update on this work?

[2020-08-16 01:07] sayanchowdhury commented on #24
Given we are planning to have the WG rolling, can we migrate this doc to the handbook?

[2020-08-16 01:10] sayanchowdhury commented on #31
Duplicate of #32

[2020-08-16 01:10] #31 closed

[2020-08-16 01:15] sayanchowdhury commented on #55
What this issue resolved?

[2020-08-16 01:17] sayanchowdhury commented on #53
What is the status on this? @anistark @vipulgupta2048

[2020-08-16 01:19] sayanchowdhury commented on #57
The frontend has been done. We would need to integrate it with Townscript.

[2020-08-16 01:20] sayanchowdhury commented on #56
This also has been done. Marking as resolved :heavy_check_mark:

[2020-08-16 01:20] #56 closed

[2020-08-16 01:22] sayanchowdhury commented on #52
Seems like the issue is resolved. Marking as done.

[2020-08-16 01:22] #52 closed

[2020-08-16 01:23] sayanchowdhury commented on #51
@anistark Can we bring this up in the next weekly meeting on how we want to handle this?

[2020-08-16 01:27] sayanchowdhury commented on #47
We've shortlisted from the community-recommended keynote speaker list. Marking this issue resolved :heavy_check_mark:

Thank you everyone who participated.

[2020-08-16 01:27] #47 closed

[2020-08-16 01:28] sayanchowdhury commented on #39
@RiteshAgrawal Did we do any update on this one?

[2020-08-16 01:29] sayanchowdhury commented on #35
@palnabarun Can you send an email to the mailing list to draft a technology budget, with rough details?

[2020-08-16 01:50] sayanchowdhury commented on #50
This is fixed.

[2020-08-16 01:50] #50 closed

[2020-08-16 03:57] anistark commented on #51
Will do.

[2020-08-16 04:01] anistark commented on #55
Slipped off. Marking as done.

[2020-08-16 04:01] #55 closed

[2020-08-16 04:02] anistark commented on #53
This has been done.

[2020-08-16 04:02] #53 closed

[2020-08-17 18:19] sayanchowdhury opened #67 "[High Priority] Create a FAQ for PyCon India 2020"
We need to set up a FAQ for PyCon India 2020. This can be incrementally changed. For now, we can pick up the relevant questions from last years, and add new to fit the online use case.

WGs comment the questions on this ticket which you think makes sense to add to the FAQ page.

/cc
@palnabarun
@vipulgupta2048
@anistark
@RiteshAgrawal
@raukadah
@abhishekmishragithub
@Pradhvan
@rayandas
@inovizz
@v

[2020-08-17 18:20] sayanchowdhury commented on #57
The tickets are pushed and live. We can close this issue now.

Thanks for everyone involved.

[2020-08-17 18:20] #57 closed

[2020-08-17 18:22] Sc0rpi0n101 commented on #67
I can create a draft for this with a few initial questions and post the docs link here tomorrow, and we can work on that.
But yeah, please post the questions you would like us to answer in the FAQ.

[2020-08-17 18:25] inovizz commented on #67
These two can be good starting references to compile the list of questions -

https://in.pycon.org/2018/faq.html

https://in.pycon.org/2019/faq.html

[2020-08-17 18:27] palnabarun commented on #67
From what I wrote in the chat group:
[code]

[2020-08-17 18:32] palnabarun commented on #20
Both of the tasks were done in April. I need to document it in the ops playbook.

[2020-08-18 09:12] sayanchowdhury commented on #67
@Sc0rpi0n101 I've assigned the work to you. You can directly create a PR and we can discuss it there.

[2020-08-18 16:55] Sc0rpi0n101 commented on #67
I've created a PR for the FAQ page - https://github.com/pythonindia/inpycon2020/pull/62

[2020-08-19 19:18] Sc0rpi0n101 commented on #67
Done in pythonindia/inpycon2020#62. Can be closed.

[2020-08-20 05:40] sayanchowdhury commented on #67
Thanks @Sc0rpi0n101 for the PR, and everyone others involved.

[2020-08-20 05:40] #67 closed

[2020-08-20 05:43] sayanchowdhury opened #68 "Create the Sponsorship page and go live with announcements"
Migrate pythonindia/inpycon2020#66 into the tasks repo

The sponsorship prospectus is live here: https://in.pycon.org/2020/sponsorship-prospectus.pdf
We have a section in the same PyCon India 2020 page to highlight this doc. We might use the previous year
https://in.pycon.org/2019/#sponsorship contents for the website.

Apart from that, we need the following things to go live with announcements:

[2020-08-20 17:39] vipulgupta2048 commented on #68
@Sc0rpi0n101  Will take up the blog

[2020-08-22 10:32] raukadah commented on #68
May be getting a page something like this https://in.pycon.org/2019/sponsorship-prospectus.html will help to share on social media?

[2020-08-24 14:49] sayanchowdhury opened #69 "Fix the issues in the Ticket blog and FAQ page"
There is inconsistency with the data that we have put in the Ticket blog and the FAQ page. The dev sprint ticket is free for all, irrespective of the people have the conference ticket or not.

[2020-08-24 14:51] sayanchowdhury commented on #68
Given the content is mostly same, we can pick the same content with the needed modifications.

[2020-09-02 13:55] Pradhvan opened #70 "Announce First Keynote Speaker"
## Tasks
- [x] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Mailing list announcement  @sayanchowdhury
- [x] Website update to display the first keynote speaker.  @aavrug

## Timeline

### Pre 5PM
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x] Draft the social media announcement @Pradhvan
- [x] Merge the website changes @aavrug

### Post 5PM

[2020-09-02 15:03] sayanchowdhury commented on #70
Naomi Ceder

Image: https://www.naomiceder.tech/galleries/NaomiCeder_headshot_web.jpg
Bio
https://www.naomiceder.tech/pages/speaking/speakerbio/
Twitter: https://twitter.com/naomiceder

[2020-09-03 07:39] iamaravindsekar commented on #70
Hello folks, done with the design for the speaker announcement... please find the file in the drive link below, Feel free to let me know if anything else is needed, Thank you!

[https://drive.google.com/drive/folders/1Fn_cNfcsbquHVARt19yCMeGY932XPaI7?usp=sharing](https://drive.google.com/drive/folders/1Fn_cNfcsbquHVARt19yCMeGY932XPaI7?usp=sharing)

[2020-09-03 09:07] Pradhvan commented on #70
Social Media announcement
---
[code]

[2020-09-03 11:40] sayanchowdhury opened #71 "Announce Second Keynote Speaker"
## Tasks
- [x] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Mailing list announcement  @sayanchowdhury
- [x] Website update to display the second keynote speaker.  @aavrug

## Timeline

### Pre 4PM
- [x] Push a low resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x

[2020-09-05 08:13] rayandas opened #72 "Ticket sales strategies."
Points to keep in mind and apply:

- [ ] Post in LinkedIn groups (around 4AM - 5AM).

- [ ] Creative posters.

- [ ] Talk to/make campus ambassadors.

- [ ] Reach out to companies.

- [ ] Show them we have job board.

[2020-09-05 08:16] rayandas commented on #72
Please add more suggestions. I might have missed few points.
cc: @inovizz @sayanchowdhury @palnabarun @anistark @RiteshAgrawal @Pradhvan @abhishekmishragithub

[2020-09-05 16:22] Pradhvan opened #73 "Social Media Posts for 6September - 12September"
Finalizing posts for next week.

[2020-09-05 18:44] vipulgupta2048 opened #74 "Create PyCon India Program Guide (PPG)"
- Create a Program Guide for the conference
- Review Structure of the program guide with the team ✔️
- Get the design team in loop about the program guide
- Prepare First draft

Status: In progress by the content team

[2020-09-07 05:59] sayanchowdhury commented on #70
All the action items are done. Closing the issue.

[2020-09-07 05:59] #70 closed

[2020-09-07 06:00] sayanchowdhury commented on #68
All the objectives are completed, hence closing this issue

[2020-09-07 06:00] #68 closed

[2020-09-07 06:01] sayanchowdhury commented on #72
@rayandas It would bee good to post the action items that the team decided in the last few meetings.

[2020-09-07 08:08] sayanchowdhury commented on #69
@Sc0rpi0n101 @vipulgupta2048 This is fixed, right?

[2020-09-07 11:58] rayandas commented on #72
**MOM for 6th September:**

Posts for 7 Sep - 12 Sep

Tickets Post = 3
Schedule Announcements: 1

Tips:

- Can we change the design for posters ?
- More engagement tweets ?
- AMA for Local Python Meetup Communities ?
- AMA from the official PyCon India handle ?
- Contact local communities social media managers
- Memes for engagements ?
- Badges for PyCon India ?
- Share your swags tweets ?
- PyCon

[2020-09-07 13:49] sayanchowdhury commented on #71
Alolita Sharma
Picture URL to be used in the blog: https://in.pycon.org/2020/assets/images/alolitasharma.jpg
Bio
Alolita Sharma is a software engineer and open source advocate best known for her work on language technology. While at the Wikimedia Foundation, she expanded access to Wikipedia across hundreds of languages. Currently, she sits on the board of the Unicode Consortium (the standards sett

[2020-09-07 14:38] Sc0rpi0n101 commented on #71
Is there a twitter or some other handle we can also add? @sayanchowdhury

[2020-09-07 14:51] sayanchowdhury opened #75 "Announce the Third Keynote Speaker"
## Tasks
- [ ] Social Media announcement @Pradhvan
- [ ] Blog post announcement @vipulgupta2048
- [ ] Mailing list announcement  @sayanchowdhury
- [ ] Website update to display the second keynote speaker.  @aavrug

## Timeline

### Pre 4PM
- [ ] Push a low resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [

[2020-09-07 14:56] Sc0rpi0n101 commented on #71
Blog: https://github.com/pythonindia/inpycon-blog/pull/316

[2020-09-07 16:27] sayanchowdhury commented on #71
@Sc0rpi0n101 https://twitter.com/alolita

[2020-09-07 19:01] sayanchowdhury commented on #71
[code]

[2020-09-07 19:03] sayanchowdhury commented on #75
James Powell

Picture URL to be used in the blog: https://in.pycon.org/2020/assets/images/jamespowell.jpg
Bio:
[code]
I will update the image later

[2020-09-07 19:39] iamaravindsekar commented on #71
Please find the design file for Alolita Sharma in the drive folder by following the link below

[https://drive.google.com/drive/folders/1Fn_cNfcsbquHVARt19yCMeGY932XPaI7?usp=sharing](url)

[2020-09-08 06:37] Sc0rpi0n101 commented on #75
Blog: https://github.com/pythonindia/inpycon-blog/pull/317

[2020-09-08 10:22] Pradhvan commented on #71
https://drive.google.com/drive/folders/1s2NTfT4_NdtX6_ZFX_KvGUXZa3vQLwIC?usp=sharing

Updated Keynote Poster LInk @sayanchowdhury

[2020-09-08 10:31] Pradhvan commented on #71
Social Media Post
---

[code]

[2020-09-08 18:20] sayanchowdhury commented on #71
Thanks everyone. Closing the issue.

[2020-09-08 18:20] #71 closed

[2020-09-09 08:02] Pradhvan commented on #75
Social Media Post
---

It's our pleasure to announce James Powell(@dontusethiscode) as the third speaker in the keynote lineup of #PyConIndia2020.

James serves on the board of @NumFOCUS as co-Chairman and Vice President.

https://in.pycon.org/blog/2020/keynote-announcement-james-powell.html

Tickets at bit.ly/GetPyConIndiaTickets

---

@sayanchowdhury kept a similar format as the last one.

[2020-09-09 10:35] sayanchowdhury opened #76 "Announce our Fourth Keynote Speaker"
## Tasks
- [x] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Mailing list announcement  @sayanchowdhury
- [x] Website update to display the fourth keynote speaker.  @aavrug

## Timeline

### Pre 4PM
- [x] Push a low resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x

[2020-09-09 10:35] sayanchowdhury commented on #76
This will go out on September 10th 2020.

[2020-09-09 11:39] Pradhvan commented on #75
Poster link: https://drive.google.com/drive/folders/18_4caDmPQ_nHTAz9G0ymKNcXCPbV2kQJ?usp=sharing

[2020-09-10 08:55] sayanchowdhury commented on #76
Name: S Anand
SubTitle: Gramener

[code]
Picture https://raw.githubusercontent.com/pythonindia/inpycon2020/3fb0806142b499fc93a56d1e96abf4d0faf530e3/assets/images/sanand.jpg

[2020-09-10 09:48] Pradhvan commented on #76
Social Media Post
---
It's our pleasure to announce S Anand(@sanand0) as the fourth speaker in the keynote lineup of #PyConIndia2020.

Anand is the co-founder of @Gramener and is recognized as one of India's top 10 data scientists.

https://in.pycon.org/blog/2020/keynote-announcement-s-anand.html

Tickets at bit.ly/GetPyConIndiaTickets

[2020-09-10 11:09] iamaravindsekar commented on #76
Fourth Keynote speaker poster is here... Please find the file in this drive url... Thank You! :)

[https://drive.google.com/drive/folders/1azkohZ4VLCHko7yhh-K2JmLmkua7Bc-u?usp=sharing](url)

[2020-09-10 15:57] sayanchowdhury commented on #76
Thanks everyone for the help. Closing this issue.

[2020-09-10 15:58] sayanchowdhury commented on #75
Thanks everyone for the help. Closing this issue.

[2020-09-11 07:34] sayanchowdhury opened #77 "Announce Fifth Keynote Speaker"
Scheduled for 11 September 2020

## Tasks
- [x] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Mailing list announcement  @sayanchowdhury
- [x] Website update to display the fifth keynote speaker.  @aavrug

## Timeline

### Pre 4PM
- [x] Push a low resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [x] Merge the blog post @

[2020-09-11 07:35] sayanchowdhury commented on #77
Name: Victor Stinner
brief: Red Hat, CPython Core Developer
picture: https://github.com/pythonindia/inpycon2020/blob/753f583d287b46cbf204c21c56ff0dbe62068edd/assets/images/victorstinner.jpg
[code]

[2020-09-11 08:05] #76 closed

[2020-09-11 10:43] iamaravindsekar commented on #77
Please find the keynote speaker announcement media in the Gdrive folder url below... Thank You
[https://drive.google.com/drive/folders/1PS5BkQp1XDaU21wr5uC-QSeYS8ZEIMyB?usp=sharing](url)

[2020-09-11 11:30] Pradhvan commented on #77
Social Media Post
---

It's our pleasure to announce Victor Stinner(@VictorStinner) as the fifth speaker in the keynote lineup of #PyConIndia2020.

Victor is a CPython Core Developer. Over the years he has mentored numerous Python contributors

https://in.pycon.org/blog/2020/keynote-announcement-victor-stinner.html

Tickets: bit.ly/GetPyConIndiaTickets

[2020-09-11 14:00] Pradhvan commented on #73
**Announcement Post**

Victor Stinner: https://twitter.com/pyconindia/status/1304384781715603456

https://www.facebook.com/133849919970392/posts/3592162824139067/

S Anand: https://twitter.com/pyconindia/status/1304020252271849472

https://www.facebook.com/133849919970392/posts/3589084441113572/

James Powell: https://twitter.com/pyconindia/status/1303657849688530944

https://www.facebook.com/1338

[2020-09-11 19:30] sayanchowdhury commented on #77
Thanks all for the help.

[2020-09-11 19:30] #77 closed

[2020-09-12 19:10] #73 closed

[2020-09-13 07:39] sayanchowdhury opened #78 "Add Google Ananlytics to PyCon India page."
To track the outreach of the efforts put in it is important for us to track the flows. Adding Google Analytics will help in this regard

[2020-09-14 09:15] Pradhvan opened #79 "Social Media Posts for 13September - 19September"
**Announcement Posts**

Talk Schedule Post:

* Twitter: https://twitter.com/pyconindia/status/1305230059603521536
* FB:
* LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6710997520513867777

Announce DeepSource as Silver Sponsor

* Twitter: https://twitter.com/pyconindia/status/1306918439047499777
* FB:  https://www.facebook.com/133849919970392/posts/3614574321897917/
* LinkedIn: ht

[2020-09-15 14:40] sayanchowdhury opened #80 "Announcement post for Workshop and Devsprint ticket opening"
The tickets for workshop and devpsrint will open on 16th September 2020, 5PM IST.

There has to be a pre-announcement going out on Septmber 15th, 9PM IST.

Tasks for 15th September

- [x] Annonucement blog @Sc0rpi0n101 @vipulgupta2048
- [x] Poster Aravind
- [x] Social media post @Pradhvan @rayandas
- [x] Email to the people registered @sayanchowdhury
- [x] Deploy to production @palnabarun

Tasks f

[2020-09-16 20:34] sayanchowdhury commented on #80
Thanks for all the help. Closing!

[2020-09-16 20:34] #80 closed

[2020-09-17 11:18] Pradhvan commented on #72
Closing this as regular tickets are sold out.

Thank you everyone for helping in closing the issue.

[2020-09-17 11:18] #72 closed

[2020-09-18 06:13] Pradhvan opened #82 "Announce Deepsource as Silver Sponsor"
Scheduled for 18 September 2020

## Tasks
- [x] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Website update to display DeepSource logo  @palnabarun

## Timeline

### Pre 4PM
- [x] Push a low-resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x] Draft the social media

[2020-09-18 06:41] inovizz commented on #82
https://github.com/deepsourcelabs/brand-assets/blob/master/wordmark.svg

Use this one on a lighter background.

[2020-09-18 06:47] inovizz opened #83 "Announce Auth0 as Gold Sponsors"
September 21, 5pm.

## Tasks
- [ ] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Website update to display logo  @palnabarun

## Timeline

### Pre 4PM
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x] Draft the social media announcement @Pradhvan
- [x] Merge the website changes @palnabarun

### Post 5PM
- [x] Deploy the blog and the website @paln

[2020-09-18 06:48] inovizz commented on #83
Logo -   https://brandfolder.com/s/cnnzss7cq7b4xfk98sgfpmw
Website - https://a0.to/pycon-india-devs

[2020-09-18 08:56] Sc0rpi0n101 commented on #82
Blog: https://github.com/pythonindia/inpycon-blog/pull/325

[2020-09-18 10:10] Pradhvan commented on #82
Poster: https://drive.google.com/drive/folders/1jUGobwXF20gR9vxL1Dgyx1ZPkwvKevKL?usp=sharing

[2020-09-18 10:28] Pradhvan commented on #82
Social Media Post
___

We are delighted to announce DeepSource(@DeepSourceHQ) as Silver Sponsor for PyCon India 2020.

Read more about @DeepSourceHQ in our blog

https://in.pycon.org/blog/2020/sponsor-announcement-deepsource.html

#PyConIndia2020

poster here

cc: @sayanchowdhury @inovizz

[2020-09-18 11:42] Pradhvan commented on #82
Twitter Post: https://twitter.com/pyconindia/status/1306918439047499777

LinkedIn Post: https://www.linkedin.com/feed/update/urn:li:activity:6712685537297264640

FB Post: https://www.facebook.com/133849919970392/posts/3614574321897917/

[2020-09-18 14:41] Pradhvan commented on #82
Thank you everyone for helping in closing the issue. 😄

[2020-09-18 14:41] #82 closed

[2020-09-18 18:51] iamaravindsekar commented on #83
The poster for social media announcement can be found in this url,
[https://drive.google.com/file/d/1cfCzM9OUGcn7XPScGd_GKFwA0nIzNo3E/view?usp=sharing](url)

[2020-09-18 19:42] noblebatman opened #84 "Update the new version of PyCon India logo across all the platforms"
We have made some changes to color combinations on the logo(2020 to Hex DF0E12 and Online to Hex FBC300),This version of logo should be updated in Website, Sponsorship Prospectus and other platforms

- The updated logo can be found here [https://github.com/pythonindia/inpycon-assets/tree/main/2020/Design%20Assets/Logo](url)

cc: @raukadah @palnabarun @sayanchowdhury

[2020-09-18 20:13] inovizz opened #85 "Announce JetBrains as Silver Sponsor"
30th Sep - 5:00 pm

## Tasks
- [ ] Social Media announcement @Pradhvan
- [ ] Blog post announcement @vipulgupta2048
- [ ] Website update to display logo  @palnabarun

## Timeline

### Pre 4 PM
- [ ] Push a low-resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [ ] Draft the social media announcement @Pradhvan

[2020-09-18 20:14] inovizz commented on #85
Link - https://www.jetbrains.com/

Write up - JetBrains is a global software vendor that creates professional software development tools and advanced collaboration solutions trusted by 8 million users. Since 2000, JetBrains has built a catalog of 28 products, including IntelliJ IDEA, ReSharper, PhpStorm, PyCharm, WebStorm, Rider, YouTrack, Kotlin, and Space, a new integrated team environment.

[2020-09-18 20:14] inovizz commented on #85
![image](https://user-images.githubusercontent.com/3849885/93641290-a6ee8f80-fa19-11ea-853b-2c8d6bf4b162.png)

[2020-09-18 20:16] inovizz opened #86 "Announcing D.E. Shaw India as Platinum Sponsor"
Scheduled for 25th Sep 5:00 PM

## Tasks
- [ ] Social Media announcement @Pradhvan
- [ ] Blog post announcement @vipulgupta2048
- [ ] Website update to display DeepSource logo  @palnabarun

## Timeline

### Pre 4 PM
- [ ] Push a low-resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x] Draft the social media

[2020-09-19 06:10] Sc0rpi0n101 commented on #83
@inovizz Can you send the sponsor text for the blog?

[2020-09-19 09:25] inovizz opened #87 "Announce EPAM as GOLD SPONSOR"
Scheduled: 19th Sep

Sponsor Name: EPAM India

Sponsor Tier: Gold

Sponsor Website: https://welcome.epam.in/

Sponsor Description:
Since 1993, EPAM Systems, Inc. (NYSE: EPAM) has leveraged its software engineering expertise to become a leading global product development, digital platform engineering, and top digital and product design agency. Through its ‘Engineering DNA’ and innovative strategy,

[2020-09-19 09:33] iamaravindsekar commented on #87
The announcement media can be found in this url, Thank You :)
[https://drive.google.com/file/d/1pDiFxG9uuFR6YstDClAHOA9Wr5JAvLMb/view?usp=sharing](url)

[2020-09-19 09:39] inovizz commented on #87
Can you increase the height of the rectangle a little? @noblebatman

[2020-09-19 09:51] iamaravindsekar commented on #87
Sure @inovizz, check this out..
![EpamPoster](https://user-images.githubusercontent.com/20441340/93664337-b5758f00-fa8b-11ea-80b2-d40a26690ccf.png)
now there is some optimal space white space at the top and bottom, updated the image in drive as well

[2020-09-19 10:01] inovizz commented on #87
looks good.

[2020-09-19 10:12] Sc0rpi0n101 commented on #87
@inovizz do you have a link to the sponsor image or do I have to add it to the assets and then link that?

[2020-09-19 10:43] Sc0rpi0n101 commented on #87
Blog: https://github.com/pythonindia/inpycon-blog/pull/326

[2020-09-19 10:55] Pradhvan commented on #87
Social Media Announcement

___

We are delighted to announce EPAM(@EPAM_India) as Gold Sponsor for PyCon India 2020.

Read more about EPAM in our blog

blog link

#PyConIndia2020

poster

cc: @sayanchowdhury @inovizz

[2020-09-19 10:56] Sc0rpi0n101 commented on #86
@inovizz Is this one also delayed, or are we doing this on time?
If yes, please send the content before night, so that I can make a PR tonight.

[2020-09-19 10:57] inovizz commented on #87
@Sc0rpi0n101 - Use this one https://user-images.githubusercontent.com/3849885/93663821-126f4600-fa88-11ea-982a-2d3feaba4843.png

[2020-09-19 11:01] inovizz commented on #86
yes, the scheduled is taken for a toss now 😉

I'll send the updated schedule and add details in the issues.

[2020-09-19 11:37] Pradhvan commented on #87
Announcement Post
___

Twitter: https://twitter.com/pyconindia/status/1307280503398002689

LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6713047963863707648

Facebook: https://www.facebook.com/133849919970392/posts/3617732171582132/

[2020-09-19 11:44] Pradhvan commented on #87
Thank You everyone for helping in closing the issue. 😄

[2020-09-19 11:44] #87 closed

[2020-09-19 12:23] Pradhvan opened #88 "Announce Toyota Connected as SILVER SPONSOR"
Scheduled: 9AM, 20 September

Sponsor Name: Toyota Connected

Sponsor Tier: Silver

Sponsor Website: http://www.toyotaconnected.co.in/

Sponsor Description:
Toyota Connected is enabling improved safety and convenience with a cloud-based digital connected mobility intelligence platform. We are leveraging vehicle data and artificial intelligence to change the way people interact with vehicles. We ar

[2020-09-19 18:51] Pradhvan commented on #88
Social Media Announcement
___

We are delighted to announce Toyota Connected(@toyota_tweet) as Silver Sponsor for PyCon India 2020.

Read more about Toyota Connected in our blog.

blog link

#PyConIndia2020

poster

cc: @inovizz

[2020-09-19 18:52] inovizz commented on #88
Do we have the poster ready?

[2020-09-19 18:52] Pradhvan commented on #88
@palnabarun can work on the poster.

[2020-09-19 18:58] Pradhvan commented on #88
Link to poster: https://drive.google.com/file/d/1OfFP6iDHn8aMkleAWKNflVblXhVYOiSi/view

[2020-09-20 03:25] rayandas commented on #88
Twitter: https://twitter.com/pyconindia/status/1307519721550434307?s=19

LinkedIn: https://www.linkedin.com/posts/pyconindia_pyconindia2020-activity-6713286102163296256-780m

Facebook: https://www.facebook.com/133849919970392/posts/3619833674705315/

[2020-09-20 03:31] Pradhvan commented on #88
Thank you everyone in helping in closing the issue. 😀

[2020-09-20 03:31] #88 closed

[2020-09-20 09:22] Pradhvan opened #89 "Workshop schedule posts"
- [ ]  A single post for each workshop i.e 7 workshop posts

- [ ] Send a workshop schedule post from the local user group's meetup page.

- [ ] Cross-Post to social media channels about workshops.

[2020-09-20 09:25] Pradhvan commented on #89
@inovizz for workshop poster beside the given fields below anything else would be required?

- Title of the workshop

- Name of the speaker

- Image of the speaker

Reference Post: https://twitter.com/pyconfhyd/status/1202871049479569410

[2020-09-20 09:34] Pradhvan opened #90 "Social media posts about diversity events during PyCon India"

[2020-09-20 09:41] inovizz commented on #89
@Pradhvan - sounds good.

[2020-09-20 19:00] inovizz commented on #85
Let's have the PRs ready for this?

[2020-09-20 21:39] vipulgupta2048 commented on #85
Taking up the blog now

[2020-09-21 04:35] inovizz commented on #83
Writeup - Auth0 provides a platform to authenticate, authorize, and secure access for applications, devices, and users. Safeguarding more than 4.5 billion login transactions each month, Auth0 secures identities so innovators can innovate, and empowers global enterprises to deliver trusted, superior digital experiences to their customers around the world.

[2020-09-21 09:18] inovizz opened #91 "Announce Red Hat as Silver SPONSOR"
Scheduled: 22nd Sep 9:00 am

Sponsor Name: Red Hat

Sponsor Tier: Silver

Sponsor Website: https://www.redhat.com/en

Sponsor Description:
Red Hat is the world's leading provider of enterprise open source software solutions, using a community-powered approach to deliver reliable and high-performing Linux, hybrid cloud, container, and Kubernetes technologies. Red Hat helps customers integrate new a

[2020-09-21 09:44] inovizz commented on #91
<img width="613" alt="Logo-RedHat-A-Color-RGB" src="https://user-images.githubusercontent.com/3849885/93752989-1a142380-fc1d-11ea-8fc6-365a57dc41f4.png">

[2020-09-21 11:08] Pradhvan commented on #83
Social Media Posts
---

We are excited to announce Auth0(@auth0) as Gold Sponsor for PyCon India 2020.

Read more about Auth0 in our blog.

https://in.pycon.org/blog/2020/sponsor-announcement-auth0.html

#PyConIndia2020

Poster Here

[2020-09-21 11:10] Pradhvan commented on #83
Announcement Posts
---

Facebook: https://www.facebook.com/133849919970392/posts/3624026597619356/

LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6713772082502647808

Twitter: https://twitter.com/pyconindia/status/1308004978993147904

[2020-09-21 11:23] Sc0rpi0n101 commented on #91
Blog: https://github.com/pythonindia/inpycon-blog/pull/330

[2020-09-21 11:41] Pradhvan commented on #83
Thank You everyone for helping in closing the issue.

[2020-09-21 11:41] #83 closed

[2020-09-21 14:05] iamaravindsekar commented on #91
The announcement poster can be found in the following url, Thank You
[https://drive.google.com/file/d/15wTq9zRNWwl-JgnPs1tL4EoFrAwt4jHL/view?usp=sharing](url)

[2020-09-21 14:48] Pradhvan commented on #91
Social Media Post Draft
---

We are excited to announce Red Hat(@RedHat) as Silver Sponsor for PyCon India 2020.

Read more about Red Hat in our blog.

Blog Link

#PyConIndia2020

Poster Here

[2020-09-22 03:37] rayandas commented on #91
Twitter: https://twitter.com/pyconindia/status/1308247563439452160?s=19

LinkedIn: https://www.linkedin.com/posts/pyconindia_pyconindia2020-activity-6714013578028032000-pQU9

Facebook: https://www.facebook.com/133849919970392/posts/3626146130740736/

[2020-09-22 04:38] Pradhvan commented on #91
Thank You everyone for helping in closing the issue. 😄

[2020-09-22 04:38] #91 closed

[2020-09-22 06:41] inovizz opened #92 "Announce Essentia SoftServ LLP as Silver SPONSOR"
Scheduled: 24 Sep 9 AM
Sponsor Name: Essentia SoftServ LLP

Sponsor Tier: Silver

Sponsor Website: https://essentiasoftserv.com/

Sponsor Description:
Sponsoring PyCon India is a proud moment for us since the conference was pivotal in bringing the Essentia Team together.

To say the least, our founders met at PyCon India 2012, and the community helped us get discovered by prospective clients with

[2020-09-22 06:48] inovizz opened #93 "Announce GitHub as Silver SPONSOR"
Scheduled: 22nd Sep 5:00 PM

Sponsor Name: GitHub

Sponsor Tier: Silver

Sponsor Website: https://github.co/pyconin

Sponsor Description:
GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 50 million developers.
Automate from code to cloud using GitHub Actions, host your container

[2020-09-22 07:00] vipulgupta2048 commented on #93
Taking it up!

[2020-09-22 09:45] iamaravindsekar commented on #93
The announcement media can be found in the drive url, Thank you :)
[https://drive.google.com/file/d/1ExSIW74RIwg8Ox6VJgKdmSqw_yt73ejQ/view?usp=sharing](url)

[2020-09-22 09:46] iamaravindsekar commented on #85
The announcement poster can be found in this drive link, Thank you :)
[https://drive.google.com/file/d/1d28XMmgUwg73hl5kJzDsF-cNn-lb-Dl7/view?usp=sharing](url)

[2020-09-22 11:14] Pradhvan commented on #93
Social Media Post Draft
---

We are excited to announce GitHub(@github) as Silver Sponsor for PyCon India 2020.

Read more about GitHub in our blog.

https://in.pycon.org/blog/2020/sponsor-announcement-github.html

#PyConIndia2020

Poster Here

[2020-09-22 11:31] Pradhvan commented on #93
Social Media Posts
---

LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6714133526549213184

Twitter: https://twitter.com/pyconindia/status/1308367345954353152

Facebook: https://www.facebook.com/PyConIndia/posts/3627126653976017

[2020-09-22 11:51] Pradhvan commented on #93
Thank You everyone for helping in closing the issue.

[2020-09-22 11:51] #93 closed

[2020-09-22 14:34] Sc0rpi0n101 commented on #92
Draft Blog: https://github.com/pythonindia/inpycon-blog/pull/332

[2020-09-22 16:07] inovizz opened #94 "Announce Microsoft Azure as platinum SPONSOR"
Scheduled: 23rd Sep, 9:00 AM

Sponsor Name: Microsoft Azure

Sponsor Tier: Platinum

Sponsor Website: https://azure.microsoft.com/en-in/ (Hyperlinked to - https://azure.microsoft.com/en-us/?wt.mc_id=AID3022746_QSG_474804&ocid=AID3022746_QSG_474804&WT.mc_id=pyconindia-azure-cxa)

Sponsor Description:
Microsoft is the leading platform and company for the mobile-first, cloud-first world, and its miss

[2020-09-22 16:25] Sc0rpi0n101 commented on #94
Blog: https://github.com/pythonindia/inpycon-blog/pull/333

[2020-09-22 17:54] Pradhvan commented on #94
Draft
---
We are excited to announce Microsoft Azure(@Azure) as Platinum Sponsor for PyCon India 2020.

Read more about Microsoft Azure in our blog.

Blog Link

#PyConIndia2020

Poster Here

cc: @inovizz

[2020-09-23 03:30] iamaravindsekar commented on #94
The social media announcement poster can be found in the following url, Thank you
[https://drive.google.com/file/d/15OGGSt0RmoSIl2b4t-vZHsqsl05V06Zl/view?usp=sharing](url)

[2020-09-23 03:42] rayandas commented on #94
Twitter: https://twitter.com/pyconindia/status/1308610762798034945?s=19

LinkedIn: https://www.linkedin.com/posts/pyconindia_pyconindia2020-activity-6714377768328663040-lhvT

Facebook: https://www.facebook.com/133849919970392/posts/3629367400418609/

[2020-09-23 05:27] sayanchowdhury opened #95 "Announce Sixth Keynote Speaker"
Scheduled for 23 September 2020

## Tasks
- [x] Social Media announcement @Pradhvan
- [x] Blog post announcement @vipulgupta2048
- [x] Mailing list announcement  @sayanchowdhury
- [x] Website update to display the sixth keynote speaker.  @sayanchowdhury @palnabarun

## Timeline

### Pre 4PM
- [x] Push a low resolution image to server to refer in website and blog @palnabarun @sayanchowdhury
- [x] M

[2020-09-23 05:29] sayanchowdhury commented on #95
Terri Oda
Twitter: https://twitter.com/terriko

Terri specializes in saying no and explaining things, which either
describes her professional work as an open source security expert, her
personal time as the parent of a child who always wants to know
“what’s happening?” or her volunteer service bringing new contributors
into Python projects through Google Summer of Code.

[2020-09-23 07:01] Pradhvan opened #96 "Announce Pipal Academy as STARTUP SPONSOR"
Scheduled: 24 September

Sponsor Name: Pipal Academy

Sponsor Tier: STARTUP

Sponsor Website: https://pipal.in/

Sponsor Description:

Pipal Academy is a collective of experienced technologists, who care deeply about the art of software development. We offer in-depth courses on niche technical topics.

We regularly conduct public workshops and also offer on site corporate trainings. Our courses ar

[2020-09-23 07:05] Pradhvan commented on #96
@noblebatman the logo has been updated. Whenever you are free you can work on the poster.

[2020-09-23 07:18] Sc0rpi0n101 commented on #95
Blog: https://github.com/pythonindia/inpycon-blog/pull/334

[2020-09-23 08:00] palnabarun commented on #94
Thanks everyone for shepherding this through. :smile:

[2020-09-23 08:00] #94 closed

[2020-09-23 08:48] Pradhvan commented on #89
Images of the speaker received:

- [x]  Nabraun: Python on Kubernetes: A primer

- [x] Anand S: Animating Data in PowerPoint

- [x] David Tischler and Vipul Gupta: Containerizing Python and Deploying to IoT and Edge Devices

- [x] Evan Smith: Getting started with Python

- [ ] Bhargav Srinivasa:  Python for Computational Social Science with Text, Networks and clever data games

- [x] Anmol Jindal:

[2020-09-23 09:03] iamaravindsekar commented on #95
Announcement media can be found in the following url, Thanks :)
[https://drive.google.com/file/d/17_yoUuDv3PjudFgSsi23iAqNz-xxyDeU/view?usp=sharing](url)

[2020-09-23 09:05] iamaravindsekar commented on #96
The announcement media can be found in the folder this url, Thanks
[https://drive.google.com/drive/folders/1PzrBgeXS4ofU04a_xflxqqhk9MFN1FOZ?usp=sharing](url)

[2020-09-23 09:25] iamaravindsekar commented on #92
The announcement media can be found in the below url, Thanks :)
[https://drive.google.com/file/d/1K3R5v27eLzK9DGh7SA14UKH-KvdIyhSA/view?usp=sharing](url)

[2020-09-23 09:44] Pradhvan commented on #95
Draft
---

It's our pleasure to announce Terri Oda(@terriko) as the sixth speaker in the keynote lineup of #PyConIndia2020.

Terri is an open-source security expert and helps new contributors contribute to Python projects in @gsoc

https://in.pycon.org/blog/2020/keynote-announcement-terri-oda.html

Tickets: bit.ly/GetPyConIndiaTickets

Poster Here

[2020-09-23 11:51] Pradhvan commented on #95
Social Media Posts
---

Facebook: https://www.facebook.com/133849919970392/posts/3630577916964224/

LinkedIn: https://www.linkedin.com/posts/pyconindia_pyconindia2020-python-security-activity-6714499479850033154-iw0_/

Twitter: https://twitter.com/pyconindia/status/1308732596226990082

[2020-09-23 16:30] raukadah opened #97 "Tasks involved in handling stage for delivering talks and keynotes"
# Roles involved
  - session lead aka MC (introduces the speakers)
  - session moderator (lead backup) expert to make sure live stream is working fine
  - Session chat support (to handle questions and collect announcements)

# Notes
* Make sure lead and moderator knows end to end workflow to handle the stage
* Main stages:
- Bangalore, Chennai, Hyderabad, Delhi
- Keynotes will be happening in Bang

[2020-09-23 16:35] raukadah opened #98 "Create session scripts for Stage sessions on navigator"
## Below is the script for handing stage
[code]
## TODO

- [ ] Structure the above session
- [ ] Add corner cases
- [ ] Iterate on different session types

[2020-09-23 16:40] raukadah opened #99 "Testing stage usage with streamyard"
# Below is the list of activities need to perform while testing.
  - using rtmp as a input as well as output with streamyard and hopinto
  - Someone needs to copy paste questions from hopin.to to streamyard
    - someone needs to collect the questions and post it or read it
  - How we are going to manage moderation?
  - roles: Session lead and session moderator
    - moderator needs to ask speaker

[2020-09-23 16:42] raukadah opened #100 "Master issue for tracking for stage related volunteering activities"
* https://github.com/pythonindia/inpycon2020-tasks/issues/97
* https://github.com/pythonindia/inpycon2020-tasks/issues/98
* https://github.com/pythonindia/inpycon2020-tasks/issues/99
* https://github.com/pythonindia/inpycon2020-tasks/issues/101

[2020-09-23 16:44] Pradhvan commented on #92
Draft
---

We are excited to announce Essentia SoftServ LLP(@essentia_ss) as Silver Sponsor for PyCon India 2020.

Read more about  Essentia SoftServ LLP in our blog.

Blog Link

#PyConIndia2020

Poster Here

[2020-09-23 16:47] raukadah opened #101 "Find speaker coordinator for the whole conference"
## Roles involved
- Make sure speakers checks in at the conference
- Maintains the list of speakers
- Hand over the respective speakers to various sessions

## No. of volunteers required
* 3 (speaker coordinator lead + 1 speaker coordinator + backup)

## TODO

- [ ] Write down the roles clearly in the PyCon India 2020 navigator
- [ ] Find out required volunteers by Friday evening

[2020-09-23 16:52] raukadah opened #102 "Create reception, registration and sponsors page"
## Main volunteers
* Abhishek, Sayan, Sanchit, Ram, Jatin

## TODO
  - Create Reception & registration page
  - Add Sponsors
  - Create Expo booth for each sponsors
    - do the initial setup
    - Setup a call for walkthrough of expo for each sponsor
    - Create zulip channel for each sponsors
    - Generate complementary passes for sponsors
  - Make sure all the sponsorship get fulfilled

## De

[2020-09-23 16:56] raukadah opened #103 "Make schedule for playing sponsors ads (video) and banners on the stage"
## Goal
- Session lead knows the schedule upfront to play particular sponsors ads and banners.
- Everything should be played in 5 mins break

## TODO

- [ ] Collect all ads and videos at one place

- [ ] Sayan to submit schedules for ads by Saturday i.e. 26th Sept, 2020

- [ ] Do a dry run for the same

[2020-09-23 17:01] raukadah opened #104 "Prepare Attendees registration in hopinto aka magic link"
One Event is up
- Nabarun to work with Sanchit and Abhishek to prepare the swag kit
- Nabarun to get attendee csv from townscript, sayan needs to provide
  - Nabarun to format csv in hopinto attendee format
  - Generate magic link

## Deadline
- Sunday 27th September

[2020-09-23 17:03] raukadah opened #105 "Create email templates for conference and workshop days"
## Content team needs to
  - create template using liquid template for
     - Welcome message
       - Swag kit will be on badge site (check with nabarun)
       - ppg docs needs to be attached
       - Calender invite needs to be added (check with nabarun)
     - Day 1
     - Day 2
     - DevSprint
     - Workshop
     - End email for talk feedback
     - Find a useful way to get feedback

[2020-09-23 17:06] raukadah opened #106 "Create Zulip channel for conference, workshop and devsprint days"
## Need to create channels
 -> Track based Channels
     -> Stage based channels where speaker will hangs
-> Make it stream based on talks to ask questiom
     -> keynote channel will be merged with blr stage
     -> Workshop specific seperate channel
     -> Devsprint project wise channel
   -> Infomation channels
      -> Announcement Channel (Read Only)
         -> Need a list of owners to post

[2020-09-23 17:07] raukadah opened #107 "BOF execution on conference days"
# Below is the list of activities needs to be done
- Subho needs to create form before friday
- Need to 4 bof leads before hand for few talks
- Get the session listed on hopin
- Use IETF and rootconf bof
- During the event, 2 per day
- 3 Volunteers for BOF

[2020-09-23 17:11] raukadah opened #108 "refusals.py execution on conference days"
## Below is the list of activities that need to perform
- [x] Send rejection email
- [ ] Draft the execution of refusals.py
- [x] Get 4 volunteers
- [ ] Test stage and perform volunteer training
- [ ] Document the execution playbook in navigator.

[2020-09-23 17:13] raukadah opened #109 "Plan and setup help desk workflow for conference days"
## Action items
- Once zulip channel is setup
- Find the moderator
- List down the activities needs to be perform for help desk
- Document everything

[2020-09-23 17:14] raukadah opened #110 "Finding volunteers for different tasks"
## List down numbers of volunteers needed for each task

- [ ] @amolkahat

[2020-09-23 17:17] raukadah opened #111 "Handling announcements and social media"
## TODO
- coordinate with Pradhvan to add more work items

[2020-09-23 17:19] raukadah opened #112 "Execute job fair"
## Plan
For each company participating in job fair
- we will create a separate expo booth(Job fair booth) for each of them.
- Company will share their slides and company representative will there
- Attendees will be comes and register there via google form or their website (for job registering )and submit the resume.
- Once shortlisted, they will perform 1:1 meeting with them for initial screening

[2020-09-23 17:21] raukadah opened #113 "Final conference day checklist Day 1 and Day 2"
# TODO
- Need to filled by Chandan and Amol

[2020-09-23 17:23] raukadah opened #114 "Diversity and pyladies tracks"
# TODO

- [ ] Get the list of sessions happening on conference days

- [ ] Prepare the schedule on hopin.to

- [ ] Get training on how to run the session by Sat 10:00 PM

[2020-09-23 17:36] vipulgupta2048 commented on #105
Roger all!

[2020-09-23 18:12] anistark commented on #106
For Devsprint, I had created a `#2020/devsprint` as a common stream.

There can also be individual streams for each project, like `#2020/devsprint/<project_slug>` or something like that.
Or can be different topic for each project in same stream (`#2020/devsprint`) as well.

Leave that decision to @amolkahat.

[2020-09-24 11:27] Pradhvan commented on #92
Social Media Posts:
---

LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6714758095601496064

Twitter: https://twitter.com/pyconindia/status/1308991484583124992

Facebook: https://www.facebook.com/133849919970392/posts/3633091136712902/

[2020-09-24 11:27] Pradhvan commented on #96
Social Media Posts:
---

LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6714860041813446656

Twitter: https://twitter.com/pyconindia/status/1309093181200494594

Facebook: https://www.facebook.com/133849919970392/posts/3634039239951425/

[2020-09-24 12:18] Pradhvan commented on #92
Thank You everyone for helping in closing the issue.

[2020-09-24 12:18] #92 closed

[2020-09-24 12:18] Pradhvan commented on #96
Thank You everyone for helping in closing the issue.

[2020-09-24 12:18] #96 closed

[2020-09-24 12:18] #79 closed

[2020-09-25 07:39] inovizz commented on #86
Website URL - https://www.deshawindia.com/

Website writeup - ``` D. E. Shaw India Private Limited ("D. E. Shaw India") is a part of the D. E. Shaw group, a global investment and technology development firm founded in 1988 with more than $50 billion in investment capital as of June 1, 2020, and offices in North America, Europe, and Asia. Additional information regarding D. E. Shaw India is availab

[2020-09-25 07:43] inovizz opened #115 "Update Auth0 Blog Content"
New text -

[code]

[2020-09-25 08:40] iamaravindsekar commented on #89
Hey folks, the posters can be found in the folder in this url, Thank You :)
[https://drive.google.com/drive/folders/1yv7t3ObUKtjiODH_VU-E-OWHHs8l_r8m?usp=sharing](url)

[2020-09-25 10:30] Pradhvan commented on #86
Draft
---
We are excited to announce D. E. Shaw India
(@DEShawGroup) as Platinum Sponsor for PyCon India 2020.

Read more about D. E. Shaw India in our blog.

Blog Here

#PyConIndia2020

Poster Here

@inovizz good to go ?

[2020-09-25 11:04] iamaravindsekar commented on #86
The poster can be found in this url, Thank you :)
[https://drive.google.com/file/d/1nJ4nuZalbPpNtTLCmAsEmiKkXkTlFazE/view?usp=sharing](url)

[2020-09-25 14:47] amolkahat commented on #106
All the above channels are created. Closing.

[2020-09-25 14:48] #106 closed

[2020-09-25 14:50] amolkahat opened #116 "Create zulip substream for Sponsors"
## TODO
- [ ] Get list of channels from @inovizz
- [ ] Create the same on zulip.

[2020-09-25 14:51] amolkahat opened #117 "Create workshop zulip substream"
## TODO
- [x] Get the list of workshop talks.
- [x] Create zulp substream.

[2020-09-25 15:13] amolkahat commented on #117
![workshop_stream_screenshot](https://user-images.githubusercontent.com/10204255/94284130-94bba680-ff6f-11ea-9661-827f328b7b1e.jpg)

CC @anistark @RiteshAgrawal

[2020-09-25 15:18] amolkahat opened #118 "Create Zulip substream for dev sprint"
## TODO
- [ ] [List](https://github.com/pythonindia/inpycon2020/wiki/List-of-PyCon-India-2020-Projects)
- [ ] Create substream

## ETA
1st October 2020

[2020-09-25 15:31] amolkahat commented on #106
![2020_substreams_1](https://user-images.githubusercontent.com/10204255/94287452-f251f200-ff73-11ea-8a6e-23808d0c9590.jpg)

[2020-09-25 16:43] anistark commented on #106
@amolkahat I think you've added some other "Ani" to the private streams 😛

I'm "Anirudha" on Zulip.

[2020-09-25 16:48] abhishekmishragithub opened #119 "Social Media Posts for 20 September - 26 September"
**Announcement Posts**

Talk Schedule Post:

* Twitter:
* FB:
* LinkedIn:

Announce DeepSource as Silver Sponsor

* Twitter: https://twitter.com/pyconindia/status/1306918439047499777
* FB:  https://www.facebook.com/133849919970392/posts/3614574321897917/
* LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6712685537297264640

---

**Tickets Posts:**

Regular Tickets sold out:

* Twitt

[2020-09-26 05:38] inovizz commented on #86
Few changes -

1. Please replace the text (boilerplate) that appears on clicking our logo under the sponsor's page with the below text instead.

[code]

2. Please tag D.E. Shaw India on the LinkedIn post we have done.

3. The Blog PR needs to published (with updated description)

cc @palnabarun @Pradhvan @rayandas

[2020-09-26 07:17] inovizz commented on #104
Is there anything needed from me on this?

[2020-09-26 07:18] inovizz commented on #102
I'll create Sponsor Booths by this weekend and the main event as well once Alex is available.

[2020-09-26 09:20] vipulgupta2048 commented on #112
Update:
- We have included Job fair into PPG and will make the same content into a blog (Keeping it DRY)
- Later, Social Media and Job team can pick the same content and spam it everywhere else.

[2020-09-26 09:22] vipulgupta2048 commented on #105
- Hopin Polls
    - ~~Polls, happen after every session started by session moderators when the previous session is completed. Each poll will have a question format like below~~ Won't work as Polls in Hopin are not stage-specific so this can't happen.

[code]

- Make a form for general conference feedback, talking about
0. Content of the talks and tracks (most important)
1. Audio/Video/platform stu

[2020-09-26 09:23] vipulgupta2048 commented on #105
Email templates being created by @Sc0rpi0n101

[2020-09-26 09:23] vipulgupta2048 commented on #69
Yes, closing.

[2020-09-26 09:23] #69 closed

[2020-09-27 07:26] inovizz commented on #116
Done. Closing the issue.

[2020-09-27 07:26] #116 closed

[2020-09-29 14:55] vipulgupta2048 commented on #105
Completed @raukadah
https://www.notion.so/pyconindia/Email-Templates-for-Hopin-5b8256a0a48648019cf74c583d93ab70

[2020-09-29 19:50] Sc0rpi0n101 commented on #105
All the mails have links to zulip and stuff that need to be added. Please make sure to add all the required links before sending them.

[2020-09-30 13:29] sukanyamandal commented on #90
Hello team,

Need to schedule two post tonight (30/09/2020) - both twitter and linkedIn

**post 1 @ 8 p.m.** regarding PyLadies India Lunch (banner and description --> https://drive.google.com/drive/folders/1lo_Zr4fC0fC58NU3rp61oEzR2Ca4vapO?usp=sharing)
**post 2 @ 9 p.m.** on the diversity and inclusion track (banner and blog link --> https://drive.google.com/drive/folders/1PwXtvfEfi6gWaR0D2mXEXFi

[2020-10-01 12:07] Pradhvan commented on #90
@sukanyamandal closing the issue now.

[2020-10-01 12:07] #90 closed

[2020-10-01 12:08] #89 closed

[2020-10-06 05:56] #95 closed

[2020-10-06 05:56] #111 closed

[2020-10-06 05:57] #86 closed

[2020-10-07 08:09] #102 closed

[2020-10-07 08:09] #103 closed

[2020-10-07 08:09] #104 closed

[2020-10-07 08:09] #112 closed

[2020-10-07 08:09] #115 closed

[2020-10-07 08:09] #85 closed

[2021-02-12 06:31] #34 closed

[2021-02-12 06:31] #35 closed

[2021-02-12 06:31] #36 closed

[2021-02-12 06:31] #39 closed

[2021-02-12 06:31] #42 closed

[2021-02-12 06:31] #51 closed

[2021-02-12 06:31] #58 closed

[2021-02-12 06:31] #62 closed

[2021-02-12 06:31] #78 closed

[2021-02-12 06:31] #84 closed

[2021-02-12 06:31] #97 closed

[2021-02-12 06:31] #98 closed

[2021-02-12 06:31] #99 closed

[2021-02-12 06:31] #100 closed

[2021-02-12 06:31] #101 closed

[2021-02-12 06:31] #105 closed

[2021-02-12 06:31] #107 closed

[2021-02-12 06:31] #108 closed

[2021-02-12 06:31] #109 closed

[2021-02-12 06:31] #110 closed

[2021-02-12 06:31] #113 closed

[2021-02-12 06:31] #114 closed

[2021-02-12 06:31] #117 closed

[2021-02-12 06:31] #118 closed

[2021-02-12 06:31] #119 closed

[2021-02-12 06:31] #12 closed

[2021-02-12 06:31] #13 closed

[2021-02-12 06:31] #14 closed

[2021-02-12 06:31] #20 closed

[2021-02-12 06:31] #24 closed

[2021-02-12 06:31] #25 closed

[2021-02-12 06:31] #32 closed